/* Inspired by https://yihui.org/en/2023/09/snap-slides/ */

:root {
    --size-code-slides: 70%;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.slide {
    padding: 0.5em;
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
    font-size: 2em;
}

.slide > ul {
    padding-top: 1.5em;
}

.slide > h2, .slide > h3 {
    margin-top: unset;
}

.title-slide {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-number {
    opacity: .5;
    position: absolute;
    bottom: 0;
    right: 0;
}

.dark {
    background-color: #A0A0A0;
}

.overview {
  font-size: 1em;
}

.overview .slide {
  min-height: unset;
  scroll-snap-align: unset;
}

.overview .slide-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.overview .slide-container .slide {
  width: var(--slide-width);
  border: 1px dotted #ccc;
  margin-bottom: 0.5em;
}

.center {
    text-align: center;
}

html {
    scroll-snap-type: y mandatory;
}

html:fullscreen::-webkit-scrollbar {
    display: none;
}

html:fullscreen {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    /* max-width: 60rem; */
    margin: auto;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    /* font-family: "Atkinson Hyperlegible", sans-serif; */
    font-size: 175%;
    border: 1px solid lightgray;
}

pre, img, object {
    max-width: 100%;
    max-height: 80vh;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

code {
    font-family: "Source Code Pro", monospace;
}

pre code {
    display: block;
    overflow-x: auto;
    font-size: var(--size-code-slides);
}

.diagram {
    display: flex;
    justify-content: center;
}

.diagram object {
    /* size: auto; */
    width: 80vw;
}

.logo-banner {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
}

.logo-banner img {
    max-width: 30%;
    max-height: 5em;
}

.two-columns {
    display: flex;
}
