body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
}
  
p {
  text-align: justify;
}

/* Nav */
.nav {
  max-width: 50em;
  padding: 1em 1em;
  margin: 0.5rem auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav :link:not(:hover) {
  text-decoration: none;
}

.nav-item {
  /* display: inline-block; */
  margin-right: 1em;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Content */

main {
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  margin: 0 auto;
}

  /* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.1em;
  border: 1px solid var(--color-palette-dark);
  border-radius: 0.25em;
  text-decoration: none;
  line-height: 1.8;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #000000;
}

tbody tr:nth-of-type(even) {
  background-color: #eee;
}

tbody tr:last-of-type {
  border-bottom: none;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table-container table {
  flex: 1;
}

.title-icon {
  max-height: 1em;
  margin-left: 0.5em;
}

.nav-icon {
  max-height: 1em;
  margin-left: 0.5em;
}