body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 1em;
padding-top: 1em;
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
}

code,
pre {
background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
