<section class="profile">
  <figure>
    <img src="{{profile.picture}}" alt="My profile picture, live from my Pod" ></img>
    <figcaption>{{ profile.name }}</figcaption>
  </figure>
  <p class="text-center">
    <a href="https://solidproject.org">Solid</a> community member, developer at <a href="https://inrupt.com">Inrupt</a>, bookworm, IoT hobbyist and dog enthusiast. <a href="/about">More...</a>
  </p>
</section>