---
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 11
---

<h1>About me</h1>

<p>I am interested in personal data management, which is why I work at <a href="https://inrupt.com/">Inrupt</a> on <a href="https://solidproject.org/">the Solid project</a>. My focus is on developer tooling, developping libraries to make it easier to write applications using Linked Data in general, and part of the Solid ecosystem in particular.</p>

{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
