---
layout: layouts/base.njk
permalink: /blogroll/
eleventyNavigation:
  key: Blogroll
  order: 12
---

<h1>Blogs I read</h1>

{%- for category in blogroll -%}
<h2>{{category.title}}</h2>
<ul>
  {%- for feed in category.feeds -%}
  <li><a href="{{feed.site_url}}">{{feed.title}}</a></li>
  {%- endfor -%}
</ul>
{%- endfor -%}
