---
layout: layouts/base.njk
permalink: /changelog/
eleventyNavigation:
  key: Changelog
  order: 99
---

<h1>Changes to this website</h1>

<h2>2024-09-22</h2>

<p>Added a licensing information on the website content.</p>

<h2>2024-09-01</h2>

<p>Added a <a href="/blogroll">blog roll</a>.</p>

<h2>2024-06-01</h2>

<p>Added <a href="https://slashpages.net/"><code>slashpages</code></a></p>