---
layout: layouts/base.njk
permalink: /colophon/
eleventyNavigation:
  key: Colophon
  order: 98
---

<h1>How this site is made</h1>

<p>The HTML is built using <a href="https://www.11ty.dev">Eleventy</a>, a static site generator. The source code for the website is available on <a href="https://framagit.org/nseydoux/homepage">Framagit</a>.</p>

<p>In order to remain up-to-date with my actual RSS subscriptions, the blog roll is built reading data from <a href="https://rss.zwifi.eu">my personal FreshRSS instance</a>.</p>