---
layout: layouts/base.njk
permalink: /ideas/
eleventyNavigation:
  key: Ideas
  order: 97
---

<h1>Projects I have</h1>

My main hobby is starting a new project and never completing it, but there's a handful of things that I have been revolving around for a long time.

<p>
    <ul>
        <li>Use <a href="https://solidproject.org">Solid</a> to manage more of my personal data. This includes, but isn't limited to:
            <ul>
                <li>Using Solid to drive content on this website.</li>
                <li>Contribute to <a href="https://inventaire.io">Inventaire</a>, eventually to add a <a href="https://solidproject.org">Solid</a> integration. I initially worked on my own app, but I figured contributing to an existing project would be a better way to achieve this.</li>
            </ul>
        </li>
        <li>Get access to a plotter or a CNC, and draw things with it. That will also involve learning to draw SVG and/or transforming images, for instance with dithering. One of the things I want to make with this setup is a <a href="https://fr.wikipedia.org/wiki/Djambi">Djambi</a></li>
        <li>Prepare some scenarios to play a customized Harry Potter TTRPG with friends and family. I reused an existing system, but removed some rules from it so that it is accessible to people who never played TTRPG before.</li>
        <li>Learn how to sew to make some of my own clothes.</li>
    </ul>
</p>