---
layout: layouts/base.njk
permalink: /
eleventyNavigation:
  key: Home
  order: 10
---

<p>This blog is a place for me to share my experiences in software development,
  self-hosted software, making, and other interests. I'm an engineer currently
  employed at <a href=https://www.inrupt.com/>Inrupt</a>, but views and opinions
  shared here are my own.</p>

<p>All content is licensed <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>,
and code snippets are also available under the <a href="https://opensource.org/license/MIT">MIT license</a>.</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h1>
  Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}
  <a href="/rss-en.xml">
    <img class="title-icon" src="/assets/feed-icon.svg" alt="RSS feed icon"/>
  </a>
</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}