---
layout: layouts/base.njk
eleventyNavigation:
  key: Teaching
  order: 3
permalink: /teaching/
---
<h1>Teaching</h1>

<h2>Classes</h2>

<ul>
{%- for post in collections.syllabus -%}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<h2>Tutorials</h2>

<ul>
{%- for slide in solid_slides -%}
  <li><a href="{{ slide }}">{{ slide }}</a></li>
{%- endfor -%}
</ul>