---
layout: layouts/base.njk
eleventyNavigation:
  key: Teaching
  order: 20
permalink: /teaching/
---

I used to teach some software engineering at <a href="https://www.insa-toulouse.fr/">INSA</a>.

<h1>Classes</h1>

<ul>
{%- for post in collections.syllabus -%}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<h1>Tutorials</h1>

<ul>
{%- for slide in solid_slides -%}
  <li><a href="{{ slide }}">{{ slide }}</a></li>
{%- endfor -%}
</ul>
