---
layout: layouts/base.njk
eleventyNavigation:
  key: Teaching
  order: 2
permalink: /teaching/
---
<h1 class="text-left text-black">Classes</h1>

<ul>
{%- for post in collections.syllabus -%}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<h1 class="text-left text-black">Tutorials</h1>

<ul>
{%- for slide in solid_slides -%}
  <li><a href="{{ slide }}">{{ slide }}</a></li>
{%- endfor -%}
</ul>