<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <div class="banner">This website is under construction, things will eventually improve (probably).</div>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}index.html">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>
    
    <div class="m-1 grid grid-cols-9 content">
      <div class="hidden md:block md:col-span-1">
        {% include "_includes/profile/summary.njk" %}
      </div>
      <main class="col-span-9 md:col-span-7">
        {{ content | safe }}
      </main>
    </div>

    <footer></footer>
    <script src="./dist/bundle.js"></script>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
