<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/vs.css' | url }}">
  </head>
  <body>
    <header>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
            <a href="{{ entry.url | url }}index.html">{{ entry.title }}</a>
          </li>
        {%- endfor %}
        <a href="https://framapiaf.org/@Zwifi">
          <img class="nav-icon" src="/assets/mastodon-icon.svg" alt="Mastodon icon" />
        </a>
      </ul>
    </header>
    <main>
      {{ content | safe }}
    </main>

    <footer></footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
