<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/slides.css">
        <script src="/js/slides.js" type="module"></script>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>