---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">Latest change: {{ page.date | isoDate }}</time>
{% if tags | length > 0 %}
    <div>
    Tags: 
    {%- for tag in tags | filterTagList -%}
        <span class="post-tag">{{ tag }}</span>
    {%- endfor %}
    <div>
{% endif %}

{{ content | safe }}
